body {
  background-color: rgb(50, 49, 59);
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.author {
  display: flex;
  justify-content: space-around;
}

.author-name {
  color: rgb(255, 255, 255);
}

.author-nickname {
  color: rgb(206, 206, 206);
  font-size: 22px;
}

.card-title {
  color: rgb(206, 206, 206);
  font-size: 16px;
  margin-left: 16%;
}

.card-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-left: 16%;
}

.card-delete {
  width: 120px;
  height: 30px;
  display: block;
  margin-right: 0px;
  position: absolute;
  right: 20px;
  background-color: rgb(24, 226, 226);
}
